.sidenav {
    background-color: #3F51B5;
    width: 200px;
    -webkit-box-shadow: 4px 0px 68px 17px rgba(0,0,0,0.41);
-moz-box-shadow: 4px 0px 68px 17px rgba(0,0,0,0.41);
box-shadow: 4px 0px 68px 17px rgba(0,0,0,0.41);
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}